<div class="page-inner">
  <div class="page-header">
     <h4 class="page-title">Quản Lý Đề Tài</h4>
     <ul class="breadcrumbs">
        <li class="nav-home">
           <a href="#">
           <i class="flaticon-home"></i>
           </a>
        </li>
        <li class="separator">
           <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
           <a href="#">Đề Tài</a>
        </li>
        <li class="separator">
           <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
           <a href="#">Danh Sách Đề Tài</a>
        </li>
     </ul>
  </div>
  <!-- Hiện thị danh sách đề tài -->
  <div *ngIf="!showDeTaiGV" class="row">
     <div class="col-md-12">
        <div class="card">
           <div class="card-header">
              <div class="card-title">
                 Danh Sách Đề Tài
                 <div class="them">
                    <button class="btn btn-success" (click)="createModal()">
                    <span class="btn-label">
                    <i class="fa fa-plus"></i>
                    </span> Thêm Mới
                    </button>
                 </div>
              </div>
           </div>
           <div class="card-body ">
             <form class="form-horizontal" role="form" [formGroup]="formsearch"  (ngSubmit)="search()">
               <div class="row">
                 <div class="col-lg-2">
                  <div class="form-group form-group-default">
                    <label>Số Dòng</label>
                    <select class="form-control" id="formGroupDefaultSelect">
                      <option>5</option>
                      <option>10</option>
                      <option>15</option>
                      <option>20</option>
                    </select>
                  </div>
                 </div>
                 <div class="col-md-6 ml-auto">
                  <div class="form-group">
                    <div class="input-group">
                      <input formControlName="ten" type="text" class="form-control" placeholder="Tìm kiếm " aria-label="" aria-describedby="basic-addon1">
                      <div class="input-group-prepend">
                        <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
                      </div>
                    </div>
                  </div>
                 </div>
               </div>
              </form>
              <p-table selectionMode="single" [value]="detais" styleClass="p-datatable-gridlines">
                 <ng-template pTemplate="header">
                    <tr>
                       <th style="width: 70px; text-align: center;">STT</th>
                       <th style=" width: 30%; text-align: center;">Tên Đề Tài</th>
                       <th style=" width: 15%; text-align: center;">Cấp Quản Lý</th>
                       <th style=" width: 20%; text-align: center;">Cơ Quan Quản Lý</th>
                       <th style=" width: 15%; text-align: center;">Trạng Thái</th>
                       <th style="width: 150px; text-align: center;">Tác vụ</th>
                    </tr>
                 </ng-template>
                 <ng-template pTemplate="body" let-item  let-i="rowIndex">
                    <tr>
                      <td style="width: 70px; text-align: center;">{{ i + 1 }}</td>
                      <td>{{ item.tenDT }}</td>
                      <td>{{ item.capQuanLy }}</td>
                      <td>{{ item.coQuanQuanLy }}</td>
                      <td>{{ item.loaiDT }}</td>
                      <td>
                        <button (click)="chitiet(item)" data-toggle="tooltip" class="btn btn-icon btn-link btn-success" data-original-title="Cập nhật giảng viên">
                          <i class="fa fa-user"></i>
                        </button>
                        <button (click)="openUpdateModal(item)" data-toggle="tooltip" class="btn btn-icon btn-link btn-warning" data-original-title="Chỉnh sửa">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button (click)="onDelete(item)" data-toggle="tooltip" class="btn btn-icon btn-link btn-danger" data-original-title="Xóa">
                          <i class="fa fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                 </ng-template>
              </p-table>
           </div>
           <div class="card-body">
              <div class="demo" >
                 <ul class="pagination pg-primary phantrang">
                    <ngb-pagination
                    [collectionSize]="totalRecords"
                    [pageSize]="pageSize"
                    [(page)]="page" [maxSize]="10"
                    [rotate]="true"
                    (pageChange)="loadPage($event)">
                    </ngb-pagination>
                 </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
  <!-- Hiện chi tiết giảng viên và cập nhật GVTG -->
  <div *ngIf="showDeTaiGV" class="row">
    <div class="col-md-12">
       <div class="card">
          <div class="card-header">
             <div class="card-title">
                Danh Sách Giảng Viên Tham Gia
                <div class="them">
                   <button class="btn btn-success" (click)="createViTriGVModal()">
                   <span class="btn-label">
                   <i class="fa fa-plus"></i>
                   </span> Thêm Giảng Viên
                   </button>
                </div>
             </div>
          </div>
          <div class="card-body ">
            <div class="row">
              <div class="col-md-12" >
                <p></p>
                <h4>* Tên đề tài: <b>{{detai.tenDT}} </b></h4><br/>
                <h4>* Mã số đề tài: <b>{{detai.maSo}} </b></h4><br/>
                <h4>* Cấp quản lý đề tài: <b>{{detai.capQuanLy}} </b></h4><br/>
                <h4>* Thời gian(Bắt đầu - Kết thúc): <b>{{detai.thoiGianBD | date: 'yyyy'}} - {{detai.thoiGianKT | date: 'yyyy'}}  </b></h4><br/>
                <h4>* Tình trạng đề tài: <b>{{detai.thanhTich}} </b></h4><br/>
                <h4>* Danh sách giảng viên tham gia</h4><br/>
                <p-table selectionMode="single" [value]="giangvienDT" styleClass="p-datatable-gridlines">
                  <ng-template pTemplate="header">
                     <tr>
                        <th style="width: 70px; text-align: center;">STT</th>
                        <th style=" width: 30%; text-align: center;">Tên Giảng Viên</th>
                        <th style=" width: 15%; text-align: center;">Nhiệm Vụ</th>
                        <th style="width: 150px; text-align: center;">Tác vụ</th>
                     </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-item  let-i="rowIndex">
                     <tr>
                       <td style="width: 70px; text-align: center;">{{ i + 1 }}</td>
                       <td>{{ item.tenGV }}</td>
                       <td>{{ item.viTri }}</td>
                       <td>
                        <button (click)="updateViTriGVModal(item)" data-toggle="tooltip" class="btn btn-icon btn-link btn-warning" data-original-title="Chỉnh sửa">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button (click)="onDeleteVT(item)" data-toggle="tooltip" class="btn btn-icon btn-link btn-danger" data-original-title="Xóa">
                          <i class="fa fa-trash-alt"></i>
                        </button>
                       </td>
                     </tr>
                  </ng-template>
               </p-table>
               <div class="card-body">
                <button type="button" class="btn btn-danger" (click)="Quaylai()">Trở Về</button>
              </div>
                <!-- <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Tên giảng viên </th>
                      <th scope="col">Nhiệm vụ</th>
                      <th scope="col">Chỉnh sửa</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of giangvienDT let i = index" >
                      <td>{{i+1}}</td>
                      <td>{{x.tenGV}}</td>
                      <td>{{x.viTri}}</td>
                      <button (click)="UpdateViTriGVModal(item)" data-toggle="tooltip" class="btn btn-icon btn-link btn-warning" data-original-title="Chỉnh sửa">
                        <i class="fa fa-edit"></i>
                      </button>
                    </tr>
                  </tbody>
                </table> -->
              </div>
            </div>
          </div>
       </div>
    </div>
 </div>

</div>
<!-- Modal Upload đề tài khoa học-->
<div *ngIf="showUpdateModal" id="createModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg full-height-modal ">
     <div class="modal-content">
        <div class="modal-header">
          <h4 *ngIf="isCreate" class="modal-title">THÊM MỚI ĐỀ TÀI</h4>
          <h4 *ngIf="!isCreate" class="modal-title">CHỈNH SỬA ĐỀ TÀI</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form *ngIf="doneSetupForm" [formGroup]="formdata"  (ngSubmit)="onSubmit(formdata.value)" class="form-horizontal utehy-form">
        <div class="modal-body no-padding">
          <div class="row">
            <div class="col-9">
              <div class="form-group">
                <label class="control-label no-padding-right"> Tên Đề Tài(
                  <span style="color: red;">*</span>)
                </label>
                <input type="text" class=" form-control" placeholder="Tên đề tài khoa học" formControlName="tenDT"/>
                <small class="form-text text-muted" *ngIf="submitted && f.tenDT.errors">
                  <i style="color: red;" *ngIf="f.tenDT.errors.required">Hãy nhập tên đề tài</i>
                </small>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label class="control-label no-padding-right"> Mã số </label>
                <input type="text" class=" form-control" placeholder="Mã số đề tài" formControlName="maSo"/>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label no-padding-right"> Cấp Quản Lý (
                  <span style="color: red;">*</span>)
                </label>
                <input type="text" class=" form-control" placeholder="Cấp quản lý đề tài" formControlName="capQuanLy"/>
                <small class="form-text text-muted" *ngIf="submitted && f.capQuanLy.errors">
                  <i style="color: red;" *ngIf="f.capQuanLy.errors.required">Hãy nhập cấp quản lý</i>
                </small>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label no-padding-right"> Cơ Quan Quản Lý (
                  <span style="color: red;">*</span>)
                </label>
                <input type="text" class=" form-control" placeholder="Cơ quan quản lý đề tài" formControlName="coQuanQuanLy"/>
                <small class="form-text text-muted" *ngIf="submitted && f.coQuanQuanLy.errors">
                  <i style="color: red;" *ngIf="f.coQuanQuanLy.errors.required">Hãy nhập cơ quan quản lý</i>
                </small>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label no-padding-right"> Thời Gian Bắt Đầu (<span style="color: red;">*</span>)</label><br>
                <p-calendar formControlName="thoiGianBD" [dateFormat]="dateFormat"  [locale]="locale_vn" [showIcon]="true" inputId="icon"></p-calendar>
                <small class="form-text text-muted" *ngIf="submitted && f.thoiGianBD.errors">
                  <i style="color: red;" *ngIf="f.thoiGianBD.errors.required">Hãy nhập thời gian bắt đầu công tác</i>
                </small>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label no-padding-right"> Thời Gian Kết Thúc (<span style="color: red;">*</span>)</label><br>
                <p-calendar formControlName="thoiGianKT" [dateFormat]="dateFormat"  [locale]="locale_vn" [showIcon]="true" inputId="icon"></p-calendar>
                <small class="form-text text-muted" *ngIf="submitted && f.thoiGianKT.errors">
                  <i style="color: red;" *ngIf="f.thoiGianKT.errors.required">Hãy nhập thời gian kết thúc công tác</i>
                </small>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label no-padding-right"> Trạng Thái (
                  <span style="color: red;">*</span>)
                </label>
                <select formControlName="loaiDT" class="form-control" id="formGroupDefaultSelect">
                  <option value="">--- Chọn trạng thái ---</option>
                  <option value="Đã hoàn thành">Đã hoàn thành</option>
                  <option value="Đang thực hiện">Đang thực hiện</option>
                </select>
                <small class="form-text text-muted" *ngIf="submitted && f.loaiDT.errors">
                  <i style="color: red;" *ngIf="f.loaiDT.errors.required">Hãy chọ trạng thái</i>
                </small>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label no-padding-right"> Thành tích </label>
                <input type="text" class=" form-control" placeholder="Thành tích đạt được" formControlName="thanhTich"/>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="Reset()"> Làm mới</button>
          <button type="submit" class="btn btn-success">Lưu lại</button>
          <button type="button" class="btn btn-danger" (click)="closeModal()"> Đóng lại</button>
        </div>
        </form>
     </div>
  </div>
</div>

<!-- Modal Upload giảng tham gia-->
<div *ngIf="showUpdateVTModal" id="updateModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg full-height-modal ">
     <div class="modal-content">
        <div class="modal-header">
          <h4  *ngIf="!isUpdateGV" class="modal-title">THÊM GIẢNG VIÊN THAM GIA ĐỂ TÀI</h4>
          <h4 *ngIf="isUpdateGV" class="modal-title">SỬA GIẢNG VIÊN THAM GIA ĐỂ TÀI</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form *ngIf="doneSetupForm" [formGroup]="formdata"  (ngSubmit)="SubmitVT(formdata.value)" class="form-horizontal utehy-form">
        <div class="modal-body no-padding">
          <div class="row">
            <div class="col-8">
              <div class="form-group">
                <label class="control-label no-padding-right"> Giảng viên tham gia (
                  <span style="color: red;">*</span>)
                </label>
                <select *ngIf="!isUpdateGV" formControlName="id_GiangVien" class="form-control form-control" id="defaultSelect">
                  <option value="">---Chọn giảng viên---</option>
                  <option *ngFor="let x of dsgv" [value]="x.id">{{x.tenGV}}</option>
                </select>
                <input *ngIf="isUpdateGV" style="font-weight: bold; color: black;" type="text" class=" form-control" formControlName="tenGV" disabled/>
                <small class="form-text text-muted" *ngIf="submitted && f.id_GiangVien.errors">
                  <i style="color: red;" *ngIf="f.id_GiangVien.errors.required">Hãy chọn tên giảng viên</i>
                </small>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label class="control-label no-padding-right"> Vị Trí (
                  <span style="color: red;">*</span>)
                </label>
                <select formControlName="viTri" class="form-control form-control" id="defaultSelect">
                  <option value="">---Chọn vị trí---</option>
                  <option value="Chủ trì">Chủ trì</option>
                  <option value="Thành viên">Thành Viên</option>
                </select>
                <small class="form-text text-muted" *ngIf="submitted && f.viTri.errors">
                  <i style="color: red;" *ngIf="f.viTri.errors.required">Hãy chọn vị trí tham gia</i>
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Lưu lại</button>
          <button type="button" class="btn btn-danger" (click)="closeModal()"> Đóng lại</button>
        </div>
        </form>
     </div>
  </div>
</div>
