<div class="page-inner">
  <div class="page-header">
     <h4 class="page-title">Quản Lý Sách</h4>
     <ul class="breadcrumbs">
        <li class="nav-home">
           <a href="#">
           <i class="flaticon-home"></i>
           </a>
        </li>
        <li class="separator">
           <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
           <a href="#">Sách</a>
        </li>
        <li class="separator">
           <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
           <a href="#">Danh Sách Các Quyển Sách</a>
        </li>
     </ul>
  </div>
  <div class="row">
     <div class="col-md-12">
        <div class="card">
           <div class="card-header">
              <div class="card-title">
                 Danh Sách Các Quyển Sách
              </div>
           </div>
           <div class="card-body ">

               <div class="row">
                <div class="col-lg-2">
                  <div class="form-group form-group-default">
                    <label>Giảng viên</label>
                    <select class="form-control" [(ngModel)]="id_gv" (ngModelChange)="dataChanged($event)" name="id_gv">
                      <option value="" >Tất cả</option>
                      <option *ngFor="let x of giangvien" [ngValue]="x.id">{{x.tenGV}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 ml-auto">
                  <form class="form-horizontal" role="form" [formGroup]="formsearch"  (ngSubmit)="search()">
                    <div class="form-group">
                      <div class="input-group">
                        <input formControlName="ten" type="text" class="form-control" placeholder="Tìm kiếm " aria-label="" aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                          <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
               </div>
              <p-table selectionMode="single" [value]="sachs" styleClass="p-datatable-gridlines">
                 <ng-template pTemplate="header">
                    <tr>
                       <th style="width: 70px; text-align: center;">STT</th>
                       <th style="text-align: center;">Tên sách</th>
                       <th style="width:200px;text-align: center;">Nơi xuất bản</th>
                       <th style="width:120px;text-align: center;">Năm xuất bản</th>
                       <th style="width:80px; text-align: center;">Tác vụ</th>
                    </tr>
                 </ng-template>
                 <ng-template pTemplate="body" let-item  let-i="rowIndex">
                    <tr>
                        <td style="text-align: center;">{{ i + 1 }}</td>
                        <td>{{ item.tenSach }}</td>
                        <td>{{ item.noiXB }}</td>
                        <td style="text-align: center;">{{ item.namXB }}</td>
                        <td  style="text-align: center;">
                          <button (click)="chitiet(item)" data-toggle="tooltip" class="btn btn-icon btn-link btn-success" data-original-title="Xem Thông Tin">
                            <i class="fa fa-eye"></i>
                          </button>
                        </td>
                    </tr>
                 </ng-template>
              </p-table>
           </div>
           <div class="card-body">
              <div class="demo" >
                 <ul class="pagination pg-primary phantrang">
                    <ngb-pagination
                    [collectionSize]="totalRecords"
                    [pageSize]="pageSize"
                    [(page)]="page" [maxSize]="10"
                    [rotate]="true"
                    (pageChange)="loadPage($event)">
                    </ngb-pagination>
                 </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- Modal chi tiết -->
<div *ngIf="showCTModal" id="viewModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg full-height-modal ">
     <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">THÔNG TIN CHI TIẾT VỀ SÁCH</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body no-padding">
          <div class="row">
            <div class="col-md-12" >
              <p></p>
              <h4>* Tên sách: <b>{{sach.tenSach}} </b></h4><br/>
              <h4>* Loại sách: <b>{{sach.loaiSach}} </b></h4><br/>
              <h4>* Nơi xuất bản: <b>{{sach.noiXB}} </b></h4><br/>
              <h4>* Năm xuất bản: <b>{{sach.namXB}}</b></h4><br/>
              <h4>* ISBN: <b>{{sach.iSBN}} </b></h4><br/>
              <h4>* Danh sách giảng viên tham gia</h4><br/>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên giảng viên </th>
                    <th scope="col">Nhiệm vụ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let x of giangviens let i = index" >
                    <td>{{i+1}}</td>
                    <td>{{x.tenGV}}</td>
                    <td>{{x.viTri}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModal()"> Đóng lại</button>
        </div>
     </div>
  </div>
</div>




