.card-title .load{
  padding-right: 0px;
  width: 20%;
  float: right;
 }
 .demo .phantrang{
   padding-right: 0px;
   float: right;
 }

 .form-horizontal .timkiem{
   padding-right: 0px;
   float: left;
 }
